# Ignorar todos los archivos .pyc en todas las carpetas
*.pyc

# Ignorar todas las carpetas __pycache__ en cualquier parte del proyecto
__pycache__/

# Ignorar todos los archivos .csv en todas las carpetas
*.csv
